.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #4C33B8;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 3rem;
    color: white;

    margin: 0;
    padding: 1rem;

    position: sticky;
    top: 0;
    z-index: 1;

    border-bottom: 1px solid #7a6bba;
}

.header .title {
    display: inline-block;
    font-weight: bold;
    padding: 0;
    margin: auto 0;
}

input {
    display: inline-block;
    width: 25%;
    background-color: #32227A !important;
    border: 2px solid #32227A !important;
    color: white !important;
    font-weight: bold;
    padding: 1rem;
    border-radius: 20px;
}

.spacer {
    width: 15%;
}

.demo-mark {
    background-color: #212121;
    color: white;
    font-weight: bold;
    height: 1rem;
    padding: 1rem;
    border-radius: 5px;
}