.category-item {
    display: inline-flex;
    height: 3rem;
    padding: 1.1rem;
    

    margin: 1rem;
    color: white;
    text-decoration: none;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.category-item img {
    display: block;
    width: 2em;
    height: 2em;
    clip-path: circle(50%);
    margin: auto;
}

.category-item:hover {
    background-color: #2b1d68;
}

.label {
    display: block;
    height: 1rem;
    text-align: center;
    margin: auto;
}