.App {
  text-align: center;
  /* background-color: #2A1D66; */
  box-sizing: border-box;
}

body {
  background-color: #2A1D66;
  color: white;
  overflow-x: hidden;
}

.container {
  background-color: #32227A;
  border-radius: 10px;
  margin: 0.5rem 1rem;
  padding: 1rem;
}

.border-container {
  border: 2px solid transparent;
  border-radius: 10px;
  margin: 0.5rem 1rem;
  padding: 1rem;
  transition: border 0.5s;
}

.border-container:hover {
  border: 2px solid #4831B0;
}

.transparency-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.aria-btn {
  margin: 0 1rem;
  height: 1rem;
  padding: 1rem;
  color: transparent;
  background-color: transparent;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}

.aria-btn:focus {
  display: inline-block;
  border: 1px solid white;
  text-align: center;
  color: white;
  border: white;
}
