.post-preview {
    text-align: center;
    color: white;
    text-decoration: none;
    transition: opacity 0.5s;
}

.post-preview .border-container {
    overflow: hidden;
}

.post-preview .post-image {
    margin: auto;
    padding: 2rem;
    max-width: 95%;
    max-height: 600px;
    object-fit: contain;
    transition: background-color 0.5s;
    border-radius: 10px;
}

.post-preview .post-image:hover {
    background-color: #2b1d68;
}

.upvote-icon {
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    top: 5px;
}

.upvote-text {
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 0 0.25rem;
}