.meta-container {
    list-style-type: none;
    text-align: center;
}

.meta-container li {
    display: inline-block;
    margin: 0 1rem;
}

.post-preview {
    text-align: center;
    color: white;
    text-decoration: none;
    transition: opacity 0.5s;
}

.post-preview img {
    margin: auto;
    max-width: 600px;
    max-height: 600px;
}

.share-button {
    display: inline-block;
    color: white;
    background-color: #9500BA;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    transition: opacity 0.5s;
}

.share-button:hover {
    opacity: 0.85;
}